
Course_3/Проектирование человеко-машинного интерфейса/ExamWork/.vs/ExamWork/v14/.suo

*.settings

*.dll

*.config

*.resx

*.baml

*.exe

*.pdb

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/App.xaml

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/App.xaml.cs

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/bin/Debug/ExamWork.vshost.exe.manifest

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/bin/Debug/NAudio.xml

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/obj/Debug/App.g.cs

*.xml

*.csproj

*.lref

*.txt

*.cache

*.resources

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/Properties/Resources.Designer.cs

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/Properties/AssemblyInfo.cs

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/Properties/Settings.Designer.cs

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/obj/Debug/App.g.i.cs

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/obj/Debug/MainWindow.g.cs

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/obj/Debug/MainWindow.g.i.cs

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

Course_3/Проектирование человеко-машинного интерфейса/ExamWork/ExamWork/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
