<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">5878213</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:8889/FS</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>

        <mapping class="fs_classes.classes.PersonsEntity"/>
        <mapping class="fs_classes.classes.NewsPersonsEntity"/>
        <mapping class="fs_classes.classes.NewsPersonsEntityPK"/>
        <mapping class="fs_classes.classes.PersonsCategoriesEntity"/>
        <mapping class="fs_classes.classes.AgeGroupsEntity"/>
        <mapping class="fs_classes.classes.CompetitionsCategoriesEntity"/>
        <mapping class="fs_classes.classes.CompetitionsNamesEntity"/>
        <mapping class="fs_classes.classes.CuntriesEntity"/>
        <mapping class="fs_classes.classes.NewsCategoriesEntity"/>
        <mapping class="fs_classes.classes.NewsEntity"/>
        <mapping class="fs_classes.classes.ResultsEntity"/>
        <mapping class="fs_classes.classes.SeasonsEntity"/>
        <mapping class="fs_classes.classes.UsersEntity"/>
    </session-factory>
</hibernate-configuration>